* {
	box-sizing: border-box;
	margin: 0 auto;
}
.main {
	background: rgb(38, 78, 74);
	padding: 2rem;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}
.text {
	color: white;
	padding: 1.5rem;
	text-align: center;
}
h1 {
	padding: 1rem;
}
.select {
	width: 70%;
}
.result {
	padding: 2rem;
	margin: 2rem;
	text-align: center;
	background: orange;
}

img {
	width: 400px;
	height: 250px;
	padding: 20px;
	margin: 0 auto;
}

.main {
	height: 100vh;
	padding: 2rem;
	text-align: center;
	background: orange;
}
