* {
	box-sizing: border-box;
	margin: 0 auto;
}
.app {
	background: rgb(0, 255, 234);
	padding: 2rem;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}
.text {
	padding: 1.5rem;
	text-align: center;
}
h1 {
	padding: 1rem;
}
.select {
	width: 70%;
}
