* {
	box-sizing: border-box;
	margin: 0 auto;
}
.main {
	background: rgb(38, 78, 74);
	padding: 2rem;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}
.text {
	color: white;
	padding: 1.5rem;
	text-align: center;
}
h1 {
	padding: 1rem;
}
.select {
	width: 70%;
}
.result {
	padding: 2rem;
	margin: 2rem;
	text-align: center;
	background: orange;
}

.select-result {
	width: 500px;
	height: 350px;
	padding: 20px;
	margin: 0 auto;
}

.main {
	height: 100vh;
	padding: 3rem;
	text-align: center;
	background: orange;
}
.input {
	padding: 2rem;
}
.input-text {
	border-radius: 10px;
	padding: 0.5rem;
	width: 50%;
}
.meme-text {
	font-size: 2.5rem;
	font-weight: bold;
	font-family: white;
}
.meme {
	padding: 1.5rem;
}

.download-button {
	background-color: rgb(38, 78, 74);
	color: white;
	padding: 0.5rem;
}
