@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Luckiest+Guy&display=swap');
* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Baloo 2', cursive;
}
body {
	background: rgb(137, 23, 202);
	width: 100%;
	text-align: center;
}
.main {
	padding-top: 6rem;
	height: 100%;
	width: 100%;
	max-width: 900px;
}
.text {
	padding: 1rem;
}
h1 {
	padding: 1rem;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	font-size: 3rem;
	color: rgb(7, 206, 56);
}
h3 {
	padding: 0.5rem;
	color: rgb(7, 206, 56);
	font-size: 1.5rem;
}
.css-yk16xz-control {
	padding: 1rem;
}

a {
	text-decoration: none;
	font-size: 1rem;
	color: rgb(255, 0, 191);
}

.result,
.home-page {
	padding: 2rem;
}

.select-result {
	width: 250px;
	height: 180px;
	margin: 0 auto;
	border: 0.5px solid #ffffff;
	border-radius: 25px;
	padding: 1px;
	background-color: rgb(0, 0, 0);
}

.heart {
	bottom: 30px;
	left: 30px;
}
.result-container {
	padding: 6rem;
}
.list-images {
	padding: 2rem;
}
.fa-paw {
	padding: 5px;
}

@media (min-width: 420px) {
	.select-result {
		width: 300px;
		height: 220px;
	}
	.main {
		display: flex;
		flex-direction: row;
		justify-items: center;
	}
	.home-page-result {
		padding-top: 4rem;
	}
}
