@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Luckiest+Guy&display=swap');
* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Baloo 2', cursive;
}
.main {
	background: rgb(137, 219, 141);
	padding: 2rem;
	height: 100vh;
}
.text {
	padding: 1.5rem;
	text-align: center;
	font-size: 24px;
	color: rgb(21, 78, 21);
}
h1 {
	padding: 1rem;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	font-size: 48px;
	color: rgb(21, 78, 21);
}
.select {
	width: 40%;
}
.result {
	padding: 2rem;
	margin: 2rem;
	text-align: center;
}

.link {
	text-decoration: 'none' !important;
	text-align: 'center';
	font-size: 24px;
}

.select-result {
	width: 500px;
	height: 350px;
	padding: 20px;
	margin: 0 auto;
	border: 0.5px solid #004e37;
	border-radius: 30px;
	padding: 1px;
	background-color: rgb(0, 0, 0);
}
.input {
	padding: 2rem;
}
.result-container {
	background: rgb(137, 219, 141);
	padding: 4rem;
}
.img-container {
	text-align: center;
}
.heart {
	bottom: 30px;
	left: 30px;
}
.text a {
	color: rgb(255, 123, 0);
	text-decoration: none;
}
.list-images {
	padding: 6rem;
}
