@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Luckiest+Guy&display=swap');
* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Baloo 2', cursive;
}
body {
	background: rgb(255, 228, 74);
}
.main {
	padding: 6rem;
	height: 100%;
}
.text {
	padding: 2rem;
	text-align: center;
	font-size: 24px;
	color: rgb(47, 112, 4);
}
h1 {
	padding: 1rem;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	font-size: 4rem;
	color: rgb(0, 168, 42);
}
h3 {
	padding: 1rem;
}
.select {
	width: 50%;
	font-size: 1.5rem;
}
.css-yk16xz-control {
	padding: 1rem;
}
.result {
	padding: 2rem;
	margin: 2rem;
	text-align: center;
}
table {
	color: white !important;
}
a {
	text-decoration: 'none';
	text-align: 'center';
	font-size: 2rem;
	color: rgb(19, 133, 53);
}

.select-result {
	width: 500px;
	height: 350px;
	padding: 20px;
	margin: 0 auto;
	border: 0.5px solid #004e37;
	border-radius: 30px;
	padding: 1px;
	background-color: rgb(0, 0, 0);
}
.input {
	padding: 2rem;
}
.result-container {
	color: white;
	padding: 4rem;
}
.img-container {
	text-align: center;
}
.heart {
	bottom: 30px;
	left: 30px;
}
.text a {
	color: rgb(255, 81, 0);
	text-decoration: none;
}
.list-images {
	padding: 6rem;
}
